{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta http-equiv="content-language" content="pt-br, en-US">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        <link href="{% static '/home/css/base.css' %}" rel="stylesheet">
        <link href="{% static '/home/css/fontawesome/css/all.css' %}" rel="stylesheet">
    </head>

    <body>

        <ul>
            <!--        
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            -->
            <li class="dropdown">
                <i class="fas fa-bars dropbtn"></i>
                <!-- <a href="javascript:void(0)" class="dropbtn">Menu</a>  -->
                <div class="dropdown-content">
                    <a class="fas fa-poll-h" href="{% url 'furniture:list_furniture' %}"> Cadastro de Móveis</a>
                    <a class="fas fa-box" href="{% url 'roomstype:list_roomstype' %}"> Cadastro de Ambientes</a>
                    <a class="fas fa-hotel" href="{% url 'hometype:list_hometype' %}"> Cadastro de Imóveis</a>
                    <a class="fas fa-palette" href="{% url 'texturetype:list_texturetype' %}"> Cadastro de Texturas</a>
                    <a class="fas fa-home" href="{% url 'home:home' %}"> Home</a>

                </div>
            </li>
        </ul>

        {% block content %} {% endblock%}

    </body>

</html>
