{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta http-equiv="content-language" content="pt-br, en-US">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WoodWork</title>

        <link href="{% static '/home/css/fontawesome/css/all.css' %}" rel="stylesheet">

        <link href="{% static '/home/css/base.css' %}" rel="stylesheet">
        <link href="{% static '/home/css/home.css' %}" rel="stylesheet">
        <link href="{% static '/roomstype/css/roomstype.css' %}" rel="stylesheet">

    </head>

    <body>
        <ul>
            <!--        
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            -->
            <li class="dropdown">
                <div class="dropdown-title">
                    <i class="fas fa-bars dropbtn"> <span class="dropdown-title-no-select">{{ title_scope }}</span> </i>
                </div>
                <div class="dropdown-content">
                    <a class="fas fa-poll-h" href="{% url 'furniture:list_furniture' %}"> <spam class="dropdown-content-menu"> Cadastro de Móveis </spam> </a>
                    <a class="fas fa-box" href="{% url 'roomstype:list_roomstype' %}"> <spam class="dropdown-content-menu"> Cadastro de Ambientes </spam> </a>
                    <a class="fas fa-hotel" href="{% url 'hometype:list_hometype' %}"> <spam class="dropdown-content-menu"> Cadastro de Imóveis </spam> </a>
                    <a class="fas fa-palette" href="{% url 'texturetype:list_texturetype' %}"> <spam class="dropdown-content-menu"> Cadastro de Texturas </spam> </a>
                    <a class="fas fa-home" href="{% url 'home:home' %}"> <spam class="dropdown-content-menu"> Home </spam></a>
                </div>
            </li>
        </ul>

        <div class="list-images-cicle">
            <div class="images-cicle">
                    <div class="images-title" >
                        <img class="images-furniture" src="{% static '/images/1.jpeg' %}" ald="Roupeiro">
                        <legend class="images-legend" >Roupeiro</legend>
                    </div>
                    <div class="images-title" >
                        <img class="images-furniture" src="{% static '/images/2.jpeg' %}" ald="Cozinha">
                        <legend class="images-legend" >Cozinha</legend>
                    </div>
                    <div class="images-title" >
                        <img class="images-furniture" src="{% static '/images/3.jpeg' %}" ald="Banheiro">
                        <legend class="images-legend" >Banheiro</legend>
                    </div>
                    <div class="images-title" >
                        <img class="images-furniture" src="{% static '/images/4.jpeg' %}" ald="Painel">
                        <legend class="images-legend" >Painel</legend>
                    </div>

            </div>
        </div>

        {% block content %} {% endblock %}

    </body>

</html>
<footer>
    <script src="{% static '/home/js/home.js' %}"></script>
</footer>
