* {
  box-sizing: border-box;
}

.cards-container {
  padding: 0 10px 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
  padding-top: 10px;
  padding-right: 10px; 
}

@media screen and (min-width: 1024px) {
  .column:nth-child(5n) {
    padding-right: 0;
  }
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (min-width: 900px) and (max-width: 1024px) {
  .column {
    width: 20%;
  }
  .column:nth-child(5n) {
    padding-right: 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .column {
    width: 25%;
  }
  .column:nth-child(4n) {
    padding-right: 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .column {
    width: 33.33%;
  }
  .column:nth-child(3n) {
    padding-right: 0;
  }
}
@media screen and (max-width: 400px) {
  .column {
    width: 50%;
  }
  .column:nth-child(2n) {
    padding-right: 0;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #f1f1f1;
  height: 250px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .card {
    height: 150px;
  }
}

.card .product-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------- MODAL IMAGEM CLICK ---------------------------------*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  height: 100%;
  max-height: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* --------Filter Projects---------- */

#myBtnfurniture {
  display: block;
  text-align: center;
}

.filterDiv {
  /* float: left; */
  /* background-color: #2196F3; */
  color: #ffffff;
  /* width: 100px; */
  line-height: 100px;
  text-align: center;
  /* margin: 2px; */
  display: none;
}

.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}