{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div style="text-align: right; padding-right: 10px; font-size: 2em; ">
        <a class="cursor-style" href="{% url 'roomstype:new_roomstype' %}">
            <i class="fas fa-plus-square cursor-style"></i>
        </a>
    </div>
    <form action="#">
        <table id="customers">
            <tr>
                <th>Ambientes</th>
                <th style="text-align: center; width: 20px;">Ações</th>
            </tr>
            {% for record in records %}
                <tr>
                    <td>{{ record.name }}</td>
                    <td>
                        <div id="actions-buttons">
                            <a href="{% url 'roomstype:edit_roomstype' record.id %}"><i class="fas fa-edit cursor-style"></i></a>
                            <a href="{% url 'roomstype:delete_roomstype' record.id %}"><i class="fas fa-trash-alt cursor-style"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}
